




.info h1 {
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 40px;
    color: #3E677A;
}

.info h2{
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 40px;
    color: #274553;
}