.mainFeedback{
    max-width: 100%;
    height: auto;
    background-image: url("../../assets/FundoVermelho.png");
    background-repeat: repeat;
    background-size: 120%;
    background-position: center;
    display: flex;
    justify-content: center;
}
.feedbackCard{
    width: 488px;
    min-height: 620px;
    background-color: hsla(355, 98%, 23%, 1);
    box-shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.5);
    margin: 100px 0 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloEtexto{
    width: 318px;
    height: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding-bottom: 30px;
}

.tituloEtexto h1{
    font-family: 'Numans';
    font-weight: 400;
    font-size: 48px;
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Serif';
    font-size: 21px;
    font-weight: 500;
}

