.home {
    background-image: url("src/assets/fundoAzul.png");
    background-size: cover;
    background-position: center;
}

.apresentacao {
    min-height: 100vh;
    /* não força mais 101vh */
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    background: #72A8C1;
    box-shadow: 0px 4px 16px 0px #00000040;

    background-image: url("src/assets/fundoBranco.png");
    background-size: cover;
    background-position: center;
}

.apresentacao img {
    max-width: 300px;
    width: 40%;
    height: auto;
    /* ajusta sozinho */
}

.apresentacao p {
    max-width: 800px;
    width: 90%;
    font-family: Nunito Sans, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    /* responsivo */
    text-align: center;
    color: var(--azul-400);
}

.swiper {
    height: auto;
    max-height: 70vh;
}

.swiperSlide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.vantagens {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* quebra em telas menores */
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 10vh 0;
    
}

.vantagens div {
    flex: 1 1 250px;
    max-width: 320px;
    min-height: 300px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.vantagens img {
    max-width: 150px;
    width: 40%;
    height: auto;
}

.vantagens p {
    font-family: Nunito Sans, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: black;
}

.cardContainer {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto 10vh auto;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.cardContainer .titulo {
    font-family: Numans, sans-serif;
    font-weight: 400;
    font-size: clamp(1.5rem, 3vw, 3rem);
    color: var(--vermelho-400);
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.feedbacks {
    min-height: 50vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 34px;
}

.feedbacksSwiper {
    width: 100%;
    max-width: 87vw;
}

.feedbacksTitulo {
    font-family: Numans, sans-serif;
    font-weight: 400;
    font-size: clamp(1.5rem, 3vw, 3rem);
    text-align: center;
    color: var(--vermelho-400);
    margin: 0 auto;
}

.feedbacks .setas {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.feedbackButton {
    max-width: 600px;
    width: 90%;
    padding: 1rem;
    margin: 2rem auto 6vh auto;

    background-color: var(--azul-200);
    color: white;
    border: none;

    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 2.5vw, 2rem);
    text-align: center;

    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

.feedbackButton:hover {
    background-color: var(--azul-400);
}
